<!--
jinja templating language
specjalny jezyk do pisania template'ow
pozwala uzywac pythonowe wstawek w html'u
mamy jeden template - wzorzec
i pozwalamy dac sie nadpisywac innym dokumentom html
-->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
                rel="stylesheet"
                href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
                integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
                crossorigin="anonymous"
        />
        <link
                rel="stylesheet"
                href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
                crossorigin="anonymous"
        />

        <!--
        zawsze kiedy uzywamy jenga, to jest jedna z opcji deklaracji syntaxa
        w srodku mozemy zdefiniowac jakies if'y, wyrazenia
        deklarujemy blok ktory moze zostac nadpisany
        -->
        <title>{% block title %}Home{% endblock %}</title>
    </head>
    <body>
        <!--
        chamska wstawka style bo nie chcialo mi sie wkladac tego do rooms.html wiec robie tutaj xd
        -->
        <style>

            td {
                width: 150px;
                text-align: center;
                border: 1px solid black;
                padding: 5px;
            }
        </style>
        <!--
        zdefiniowanie navbara
        oraz guzikow kierujacych na podstrony
        jest dodane lekkie stylowanie z bootstrapa
        -->

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button
                    class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbar"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <div class="navbar-nav">
                            {% if user.is_authenticated %}
                                <a class="nav-item nav-link" id="home" href="/">Strona główna</a>
                                <a class="nav-item nav-link" id="rooms" href="/rooms">Lista pokoi</a>
                                <a class="nav-item nav-link" id="addRoom" href="/add-room">Dodaj pokój</a>
                                <a class="nav-item nav-link" id="logout" href="/logout">Wyloguj</a>
                            {% else %}
                                <a class="nav-item nav-link" id="login" href="/login">Zaloguj się</a>
                                <a class="nav-item nav-link" id="signUp" href="/sign-up">Zarejestruj się</a>
                            {% endif %}
                </div>
            </div>
        </nav>

        <!--
        obsługa komunikatow flash, wykorzystywanych przy raportowaniu błędów
        w tym miejscu, zaraz pod navbarem, beda wyświetlane wiadomości
        pobiera zmienna messages, jesli zostala utworzona
        pokazuje komunikat ktory da sie zamknac
        pozniej wyswietla fancy X ktorym mozna zamknac error'a
        -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}

                    {% if category == 'error' %}
                        <div class="alert alert-danger alert-dismissable fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% else %}
                        <div class="alert alert-success alert-dismissable fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}

                {% endfor %}
            {% endif %}
        {% endwith %}

        <!--
        deklaracja kolejnego bloku ktory moze byc nadpisywany przez inne template'y
        -->
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>

        <!--
        załadowanie skryptow z js'a ktore obsluguja bootstrapa - jego animacje
        -->
        <script
                src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"
        ></script>
        <script
                src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"
        ></script>
        <script
                src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"
        ></script>

        <!--
        w taki sposob zalacza sie plik js'owy z folderu static
        tam gdzie sa podwojne nawiasy klamrowe, mozna uzywac pythona
        -->
        <script
         type="text/javascript"
         src="{{ url_for('static', filename='index.js') }}"
        ></script>
    </body>
</html>
