<!DOCTYPE HTML>
<html lang="pl-PL">
	<head>
		<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/logo.png') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/base_style.css') }}"/>

        <style type="text/css">
              /* Chat containers */
          .container {
              border: 2px solid #dedede;
              background-color: #f1f1f1;
              border-radius: 5px;
              padding: 10px;
              margin: 10px 0;
          }

            /* Darker chat container */
            .darker {
                border-color: #ccc;
                background-color: #ddd;
            }

            /* Clear floats */
            .container::after {
                content: "";
                clear: both;
                display: table;
            }

            /* Style images */
            .container b {
                float: left;
                max-width: 60px;
                width: 100%;
                margin-right: 20px;
                border-radius: 50%;
            }

            /* Style the right image */
            .container b.right {
                float: right;
                margin-left: 20px;
                margin-right:0;
            }

            /* Style time text */
            .time-right {
                float: right;
                color: #aaa;
            }

            /* Style time text */
            .time-left {
                float: left;
                color: #999;
            }

        </style>

        {% block styles %}
        {% endblock %}
        {% block scripts %}
        {% endblock %}
        <link
                rel="stylesheet"
                href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
                integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
                crossorigin="anonymous"
        />
        <link
                rel="stylesheet"
                href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
                crossorigin="anonymous"
        />
		<meta charset="UTF-8"/>
		<title>{% block title %}Home{% endblock %}</title>
		<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	</head>
	<body>

		<header>
            <div id="header-container">
                <div id="header-first-row">
                    <div id="logo">
                    <a href="/">
                        <img src="../static/images/banner.png" style="position:relative;height:200px; width:600px">
                    </a>
                    </div>
                    <div id="menu">
                            {% if user.is_authenticated %}
                                <a id="home" href="/"><button class="header_button">Strona główna</button></a>
                                <a id="rooms" href="/rooms"><button class="header_button">Lista pokoi</button></a>
                                <a id="friends" href="/friends"><button class="header_button">Lista znajomych</button></a>
                                <a id="notes" href="/notes"><button class="header_button">Notatki</button></a>
                                <a id="logout" href="/logout"><button class="header_button">Wyloguj</button></a>

                            {% else %}
                                <a id="login" href="/login"><button class="header_button">Zaloguj się</button></a>
                                <a id="signUp" href="/sign-up"><button class="header_button">Zarejestruj się</button></a>
                            {% endif %}
                    </div>
                </div>
                <div id="username-container">
                    {% if user.is_authenticated %}
                        <div id="username">
                            <span id="username"> Witaj {{ current_user.username }}!</span>
                        </div>
                    {% endif %}
                </div>
            </div>
		</header>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}

                    {% if category == 'error' %}
                        <div class="alert alert-danger alert-dismissable fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% else %}
                        <div class="alert alert-success alert-dismissable fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}

                {% endfor %}
            {% endif %}
        {% endwith %}

		<div id="content">
			{% block content %}
			{% endblock %}
		</div>

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
                integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
                crossOrigin="anonymous"></script>
		<script
				type="text/javascript"
				src="{{ url_for('static', filename='index.js') }}"
		></script>
        <script
                type="text/javascript"
                src="{{ url_for('static', filename='socketio.js') }}"
        ></script>
        <script type=text/javascript>
          $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>
        <!--
        musialem dolaczyc te skrypty tutaj
        nie chcialo dzialac kiedy podpinalem w index.js
        -->
        <script>

            function showAddNoteWindow(){
                $(document).ready(function() {
                    $('#X').click(function() {
                        $('#add_note_container').css("display","none");
                    });

                    $('#note_button').click(function() {
                        $('#add_note_container').css("display","inherit");
                    });
                });
            }

            function showJoinRoomWindow() {
                $(document).ready(function () {
                    $('#X').click(function () {
                        $('#password_container').css("display", "none");
                    });

                    $('.join_button').click(function () {
                        $('#password_container').css("display", "inherit");
                    });

                });
            }

            function showPassword() {
                var x = document.getElementById("pass");
                if (x.type === "password") {
                    x.type = "text";
                } else {
                    x.type = "password";
                }
            }

            function checkPassword(){
                var x = document.getElementById("pass").value;
                if (x === "haslo"){
                    window.location="../chat/chat.html";
                } else {
                    alert("Błędne hasło");
                }
            }

            window.onload = async function () {
                var msgs = await loadMessages();
                for (i = 0; i < msgs.length; i++) {
                    scroll = false;
                    if (i == msgs.length - 1) {
                        scroll = true;
                    }
                    addMessages(msgs[i], scroll);
                }

                let name = await loadName();
                if (name != "") {
                    $("#login").hide();
                } else {
                    $("#logout").hide();
                }
            };
        </script>
	</body>
</html>
