*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	width: 100%;
	height: 100%;
}
body{
	background-color: #f3f3f3;
	margin: 0;
	width: 100%;
	height: 100%;
}
header{
	height:auto;
	width:100%;
	background-color:black;
	;
}
#header-container{
	display: grid;
	grid-template-rows: 200px 50px;

}
#header-first-row{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#logo{
	width: 600px;
	height: 200px;
}

#menu{

}

#username-container{
	width: 100%;
	text-align: center;
}

#username{
	color: white;
}
#buttons{
	min-height: 100px;
	width: 100%;
}
#center-text{
	min-height: 300px;
	width: 100%;
	text-align: center;
	font-size: 42px;
	padding-top:30px;
}
.home_button{
	min-height: 70px;
	width: 47%;
	float: left;
	margin-top: 10px;
	margin-left: 2%;
	background-color:black;
	border-radius: 8px;

}
.home_button > p{
	padding:15px;
	font-size: 36px;
	text-align: center;
	color:white;
}
.button{
	border: none;
	padding: 16px 32px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
}
.header_button{
	padding: 16px 32px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
	float: right;
	background-color: white;
	color: black;
	border: 5px solid #f8a100;
}

.header_button:hover{
	padding: 16px 32px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
	background-color: #f8a100;
	color: white;
}

#content{
	padding: 10px;
}

.notification-container{
	position: fixed;
	bottom: 0;
	left: -150px;
	width: 250px;
	height: 150px;
	background: rgba(0,0,0,0.1);
	margin: 10px;
	visibility: hidden;
	opacity: 0;
	transition: all 0.5s;
	padding: 15px;
	border-radius: 25px;
}

.notification{
	width: 100%;
	height: 100%;
	align-content: space-between;
}

.notification-visible{
	opacity: 1 !important;
	visibility: visible !important;
	left: 0;
}

.notification-container .username{
	font-weight: bold;
}

.notification-container .notification-message{
	margin-bottom: 20px;
}

.notification-container .notification-buttons{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}